.codemark {
	padding-left: 10px;
	cursor: pointer;
	&.collapsed {
		min-height: 25px;
		width: 100%;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 38px;
		.body {
			background: none;
			// white-space: nowrap;
			// overflow: hidden;
			text-overflow: ellipsis;
			p {
				display: inline;
			}
			.type-icon {
				padding-right: 5px;
			}
			.file-name {
				padding-left: 10px;
				opacity: 0.25;
			}
		}
		.align-far-left {
			margin-left: -22px;
			display: inline-block;
			float: left;
		}
		.status-button {
			// float: right;
			display: inline-block;
			// border: 2px solid green;
			border-radius: 3px;
			width: 14px;
			height: 14px;
			text-align: center;
			border: 2px solid @text-color;
			opacity: 1;
			margin-top: 2px;
			.check {
				opacity: 1;
				transform: scale(0.01);
				transition: transform 0.3s;
				display: inline-block;
				top: -2px !important;
				color: @text-color !important;
				visibility: hidden;
			}
			&.checked {
				.check {
					visibility: visible;
				}
				background-color: @text-color;
				border: none;
				vertical-align: 2px !important;
				.check {
					// opacity: 0.6;
					transform: scale(1);
					transform: scale(0.85);
					color: @app-background-color !important;
				}
			}
		}
		.show-on-hover {
			padding: 5px 0 0 0;
			x-color: @text-color-subtle;
			time {
				padding: 3px 3px 3px 5px;
				font-size: 11px;
			}
			opacity: 0;
			transition: opacity 0.4s;
			.details {
				padding-left: 8px;
			}
		}
		&:hover .show-on-hover {
			opacity: 0.6;
		}
		.angle-arrow {
			width: 16px;
			height: 16px;
			position: relative;
			display: inline-block;
			margin-right: 5px;
			&::before {
				content: "";
				position: absolute;
				display: block;
				top: 0;
				left: 8px;
				width: 2px;
				height: 8px;
				background: @text-color;
			}
			&::after {
				content: "";
				position: absolute;
				display: block;
				top: 8px;
				left: 8px;
				width: 8px;
				height: 2px;
				background: @text-color;
			}
		}
		.clickable:hover {
			color: @text-color-highlight;
		}
		.username {
			font-weight: bold;
		}
		.headshot {
			display: inline-block;
			position: relative;
			width: 18px;
			height: 18px;
			margin-right: 6px;
			vertical-align: -4px;
		}
		.headshot-image {
			position: absolute;
			width: 18px;
			height: 18px;
			border-radius: 3px;
			z-index: 2;
		}
		.headshot-gravatar {
			position: absolute;
			width: 18px;
			height: 18px;
			border-radius: 3px;
			z-index: 2;
		}
		.headshot-initials {
			position: absolute;
			width: 18px;
			height: 18px;
			border-radius: 3px;
			text-align: center;
			font-size: 11px;
			text-transform: capitalize;
			padding-top: 1px;
			z-index: 1;
			color: @app-background-color;
		}
	}
	&:hover {
		background: @app-background-color;
		color: @text-color-highlight;
	}
	&.inline {
		position: absolute;
		padding-left: 20px !important;
		.status-button {
			display: none;
		}
	}
	background: @app-background-color;
}
.no-codemarks {
	width: 100%;
	height: 100%;
	padding-top: 50%;
	color: @text-color-subtle;
	text-align: center;
	font-size: bigger;
}
.hover-plus {
	height: 18px;
	padding-left: 22px;
	opacity: 0;
	color: @text-color-subtle;
	scroll-snap-align: start;
	width: 50px;
	&:hover {
		opacity: 1;
		z-index: 1;
	}
	.icon {
		cursor: pointer;
		opacity: 0.4;
		display: inline-block;
		transition: transform 0.1s;
		&:hover {
			opacity: 1;
			color: @text-color-info;
			transform: scale(1.4);
		}
	}
}
.has-overlay .hover-plus {
	display: none;
}
