// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.codestream {
	a {
		text-decoration: underline;
	}

	#no-git {
		text-align: center;
	}

	.signup-form {
		padding-top: 5%;

		display: flex;
		flex-direction: column;
		align-items: center;

		#controls {
			width: 60%;

			.control-group {
				margin: 5% 0;

				&:first-child,
				&:last-child {
					margin: 0;
				}

				.error-message {
					color: @text-color-error;
				}
			}

			#signup-button {
				width: 100%;
			}
		}
	}

	#email-confirmation {
		h2 {
			text-align: center;
		}
		padding: 0 5%;

		#inputs {
			margin-bottom: 5%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			input {
				width: 14%;
				text-align: center;
			}
		}
		#submit-button {
			width: 100%;
		}
	}
}
