// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "octicon-mixins";

// Mixin for padding for non-stream screens
.onboarding-screen {
	width: 75%;
}

.codestream {
	width: 100%;
	padding-top: 1%;
	display: flex;
	flex-direction: column;
	align-items: center;

	font-size: 13px;

	// global styles
	a {
		text-decoration: underline;
	}
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.error-message {
		color: @text-color-error;
	}
	.form-error {
		text-align: center;
		line-height: 1;
		margin-bottom: 5%;
	}

	// screen styles
	#no-git {
		.onboarding-screen;

		h2 {
			text-align: center;
		}
	}

	#signup-form,
	#login-form {
		.onboarding-screen;
		display: flex;
		flex-direction: column;
		justify-content: center;

		h2 {
			text-align: center;
		}

		#controls {
			.control-group {
				margin: 5% 0;

				&:first-child,
				&:last-child {
					margin: 0;
				}

				.help-link {
					text-align: right;
				}
			}

			.control-button {
				width: 100%;
			}

			.footer {
				margin-top: 10%;
				text-align: center;
				p {
					line-height: 0.5;
				}
			}
		}
	}

	#email-confirmation {
		.onboarding-screen;
		h2 {
			text-align: center;
		}

		#form {
			display: flex;
			flex-direction: column;
		}

		#inputs {
			margin-bottom: 5%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			input {
				width: 14%;
				text-align: center;
			}
		}
		#submit-button {
			width: 100%;
		}
	}

	#team-creation {
		.onboarding-screen;
		h2 {
			text-align: center;
		}

		form * {
			margin: 5% 0;
		}

		#submit-button {
			width: 100%;
		}
	}
}
.codestream-add-comment {
	.octicon-font();
	display: block;

	// content: "@ ";
	// content: "\f063";
	// content: "3";
	position: absolute;
	right: 20px;
	// left: 50%;
	color: #999 !important;
	z-index: 5000;
	width: 30px;
	height: 30px;
	margin-bottom: -30px;
	background-color: #000;
	border: 1px solid #000;
	text-align: center;
	border-radius: 20px;
	padding: 5px;

	width: 20px;
	// margin-right: -35%;
	border-radius: 6px;
	height: auto;
	padding: 2px;
	background-color: @app-background-color !important;
	border: none;
	box-shadow: none;
	background-color: #ddd !important;
	color: #333 !important;
	font-size: 10px;
	top: -20px;
	right: 0;
	// box-shadow: 1px 1px
	// content: "";
	// opacity: .8 !important;
}
