// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.codestream {
	[contenteditable="true"]:empty:before {
		content: attr(placeholder);
		opacity: 0.5;
	}

	.stream {
		width: 100%;
		height: 100%;
		// background: black;
		// overflow-y: auto;

		#close-thread {
			// float: right;
			opacity: 0.5;
			margin: 10px;
			cursor: pointer;
		}
		#close-thread:hover {
			opacity: 1;
		}

		.new-messages-below {
			cursor: pointer;
			box-sizing: border-box;
			// position: absolute;
			width: 100%;
			margin: -41px 0 11px 0;
			padding-top: 5px;
			// top: -30px;
			// color: @text-color-info;
			background-color: @background-color-info;
			border-radius: 8px 8px 0 0;
			text-align: center;
			height: 30px;
			color: #fff;
		}
		.new-messages-below:hover {
			background-color: lighten(@background-color-info, 5%);
		}

		.compose {
			display: block;
			width: 100%;
			border: none;
			border-top: 1px solid @base-border-color;
			// background-color: inherit;
			background-color: @app-background-color;
			position: absolute;
			bottom: 0px;
			padding: 10px;
			box-sizing: border-box;

			#input-div {
				box-sizing: border-box;
				width: 100%;
				padding: 10px;
				border-radius: 4px;
				background: #fff;
				border: 1px solid @base-border-color;
				resize: none;
				// height: 20px;
				max-height: 300px;
				max-width: 100%;
				overflow: auto;
			}

			.placeholder {
				position: absolute;
				bottom: 20px;
				left: 20px;
				opacity: 0.5;
			}

			.hint {
				margin: 4px -5px 0 2px;
				font-size: 12px;
				opacity: 0.5;
				.icon {
					cursor: pointer;
					float: right;
					transform: scale(0.8);
				}
				.icon:hover {
					color: @text-color-error;
				}
			}
			.code {
			}
		}

		.at-mention {
			padding: 1px 3px;
			margin: -1px 0px;
			font-weight: bold;
			display: inline-block;
			border-radius: 4px;
			// FIXME -- background-color-info is too intense, but this
			// is a hard-coded color which is Bad.
			background-color: #ffffe6;
			// background-color: @background-color-info;
		}

		.code {
			max-width: 100%;
			max-height: 200px;
			white-space: pre;
			font-family: Menlo, Consolas, "DejaVu Sans Mono", monospace;
			font-size: 11px;
			background: #f6f6f6;
			border-radius: 4px;
			padding: 10px;
			border: 1px solid @base-border-color;
			margin: 5px 0 0 0;
			overflow-x: auto;
			overflow-y: auto;
			line-height: 12px;
			tab-size: 2;
		}

		.mentions-popup {
			width: 100%;
			// height: 500px;
			position: absolute;
			bottom: 55px;
			z-index: 50;
			padding: 0 10px 0 10px;
			user-select: none;
			cursor: pointer;
			border-radius: 5px;

			.body {
				width: 100%;
				box-shadow: 0 5px 10px #ccc;
				border-radius: 5px;
				border: 1px solid @base-border-color;
				background: #eee;
			}
			.instructions {
				font-size: 11px;
				padding: 10px;
				border-radius: 5px 5px 0 0;
				opacity: 0.5;
				background: #eee;
			}
			table {
				// temporarily not displayed for aesthetic reasons
				display: none;
				font-size: 11px;
				width: 100%;
				border-collapse: collapse;
				border-spacing: 0;
				opacity: 0.5;
				td:nth-child(2) {
					text-align: center;
				}
				td:last-child {
					text-align: right;
				}
			}
			ul {
				// border-bottom: 1px solid @base-border-color;
				border-top: 1px solid @base-border-color;
				background: #fff;
				padding: 5px 0;
				border-radius: 0 0 5px 5px;
			}
			li {
				padding: 5px 10px;
				.headshot {
					width: 18px;
					height: 18px;
					border-radius: 3px;
					margin-right: 6px;
				}
			}
			// li:hover,
			li.hover {
				color: #fff;
				background: #4979f1;
			}
			.nick {
				font-weight: 700;
				padding-right: 5px;
			}
		}

		.post .menu-popup {
			right: 20px;
			margin-top: -10px;
		}
		.menu-popup {
			// height: 500px;
			position: absolute;
			z-index: 50;
			padding: 0 10px 0 10px;
			user-select: none;
			cursor: pointer;
			border-radius: 5px;

			.body {
				width: 100%;
				box-shadow: 0 5px 10px #ccc;
				border-radius: 5px;
				border: 1px solid @base-border-color;
				background: #eee;
			}
			ul {
				// border-top: 1px solid @base-border-color;
				background: #fff;
				padding: 5px 0;
				border-radius: 0 5px 5px 0;
			}
			li {
				padding: 5px 10px;
				.headshot {
					width: 18px;
					height: 18px;
					border-radius: 3px;
					margin-right: 6px;
				}
			}
			// li:hover,
			li.hover {
				color: #fff;
				background: #4979f1;
			}
			.nick {
				font-weight: 700;
				padding-right: 5px;
			}
		}

		.postslist {
			width: 100%;
			max-height: 100%;
			overflow-y: auto;
			position: relative;
		}

		.postslist.inactive {
			display: none;
		}

		.post-details {
			.button-group {
				padding: 0px 10px 10px 56px;
				button {
					overflow: hidden;
					text-overflow: ellipsis;
					margin: 0;
					// this crazy escape syntax is required due to a bug in LESS
					width: calc(~"50% - 5px");
				}
				button:first-child {
					margin-right: 10px;
				}
			}
		}

		.post {
			padding: 10px;
			cursor: pointer;
			min-height: 56px;
			white-space: pre-wrap;
			position: relative;
			.headshot {
				display: block;
				margin: 0 0 -36px 0;
				width: 36px;
				height: 36px;
				border-radius: 4px;
				background: @base-background-color;
			}
			author {
				font-size: 13px;
				padding: 3px 3px 3px 46px;
				font-weight: 700;
			}
			.timestamp {
				color: @text-color-subtle;
				opacity: 0.5;
				font-size: 11px;
				padding: 3px 3px 3px 8px;
			}
			.body {
				padding-left: 46px;
			}
			.icon-gear {
				color: @text-color-subtle;
				opacity: 0.5;
				display: none;
				float: right;
				margin: -3px -10px 0 0;
			}
			.icon-alert {
				color: @background-color-error;
				position: absolute;
				bottom: 3px;
				right: 5px;
				z-index: 10;
				&:before {
					font-size: 22px;
					// font-size: 36px;
				}

				// right: auto;
				// bottom: auto;
				// top: 50px;
				// left: 30px;
			}
		}

		.thread-key-0 {
			border-left: 3px solid transparent;
		}
		.thread-key-1 {
			border-left: 3px solid blue;
		}
		.thread-key-2 {
			border-left: 3px solid green;
		}
		.thread-key-3 {
			border-left: 3px solid red;
		}
		.thread-key-4 {
			border-left: 3px solid orange;
		}
		.thread-key-5 {
			border-left: 3px solid brown;
		}
		.thread-key-6 {
			border-left: 3px solid aqua;
		}

		.post.new-separator {
			border-top: 1px solid @text-color-info;
			position: relative;
		}
		.post.new-separator::before {
			content: "new messages";
			display: block;
			right: 10px;
			top: -12px;
			color: @text-color-info;
			background: @app-background-color;
			padding: 2px 5px;
			position: absolute;
			border-radius: 10px;
		}

		.date-separator {
			// font-size: 13px;
			text-align: center;
			margin: 25px 0 8px 0;
			border-top: 1px solid @base-border-color;
			span {
				position: relative;
				padding: 0 8px;
				// font-weight: 600;
				background-color: @app-background-color;
				display: inline-block;
				width: auto;
				top: -11px;
				color: @text-color-subtle;
			}
		}

		.post:hover {
			background: lighten(@app-background-color, 3%);
			.icon-gear {
				display: block;
			}
			.icon-gear:hover {
				color: #aaa;
			}
		}
	}
	.stream.no-headshots {
		.post {
			min-height: 50px;
			.headshot {
				display: none;
			}
			.body {
				padding-left: 10px;
			}
			author {
				padding-left: 10px;
			}
		}
	}
	.intro {
		text-align: center;
		margin: 0 40px;
		min-height: 300px;
		position: relative;
		box-sizing: border-box;
		label {
			padding: 100px 0;
			position: absolute;
			color: @text-color-subtle;
			font-size: 18px;
			bottom: 0;
			left: 0;
			width: 100%;
		}
		.logo {
			// color: lighten(@text-color-subtle, 50%);
			color: #fff;
			transform: perspective(600px) rotateX(60deg) rotateZ(30deg);
			text-shadow: 5px 10px 30px #999;
			font-size: 135px;
			display: block;
			opacity: 0.75;
		}
	}
}
