body {
    --app-background-color: --cs--app-background-color--;
    --app-background-color-darker: --cs--app-background-color-darker--;
    --app-background-color-hover: --cs--app-background-color-hover--;
    --background-color: --cs--background-color--;
    --base-background-color: --cs--base-background-color--;
    --base-border-color: --cs--base-border-color--;
    --color: --cs--color--;
    --font-family: --cs--font-family--,  -apple-system,  BlinkMacSystemFont,  "Segoe WPC",  "Segoe UI",  HelveticaNeue-Light,  Ubuntu,  "Droid Sans",  Arial,  Consolas,  sans-serif;
    --font-size: --cs--font-size--px;
    --font-weight: normal;
    --link-color: --cs--link-color--;
    --link-active-color: --cs--link-color--;
    --text-color: --cs--text-color--;
    --text-color-highlight: --cs--color--;
    --text-color-info-muted: --cs--text-color-info-muted--;
    --text-color-subtle: --cs--text-color-subtle--;
    --text-color-subtle-extra: --cs--text-color-subtle-extra--;
    --tool-panel-background-color: --cs--tool-panel-background-color--;
    --vscode-editor-background: --cs--background-color--;
    --vscode-editor-foreground: --cs--color--;
    --vscode-editor-font-family: --cs--font-family--;
    --vscode-editor-font-weight: normal;
    --vscode-editor-font-size: --cs--font-size--px;
    --vscode-button-background: --cs--vscode-button-background--;
    --vscode-button-hoverBackground: --cs--vscode-button-hoverBackground--;
    --vscode-sideBar-foreground: --cs--color--;
    --vscode-sideBarSectionHeader-background: --cs--vscode-sideBarSectionHeader-background--;
    --vscode-sideBarSectionHeader-foreground: --cs--vscode-sideBarSectionHeader-foreground--;
    --vscode-textLink-foreground: --cs--color--;
    background-color: var(--app-background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    margin: 0;
    padding: 0 20px;
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: var(--app-background-color);
}
::-webkit-scrollbar-thumb {
    background: --cs--scrollbar-color--;
}
::-webkit-scrollbar-thumb:hover {
    background: --cs--scrollbar-color-hover--;
}

#app {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 40"><g fill="--cs--app-background-image-color--" fill-opacity="0.05"><path d="M20.4 19.87a4.57 4.57 0 1 0 9.13-.01 4.57 4.57 0 0 0-9.13.01z"/><path d="M26.92 6.35c-.1.1-.17.24-.17.38v5.43a7.9 7.9 0 0 1 0 15.36v5.53a.53.53 0 0 0 .92.36l11.48-12.17c.71-.76.71-1.94 0-2.7L27.67 6.38a.53.53 0 0 0-.75-.02zm-4.64.02L10.8 18.55a1.96 1.96 0 0 0 0 2.69L22.28 33.4a.53.53 0 0 0 .91-.36v-5.53a7.9 7.9 0 0 1 0-15.36V6.73a.53.53 0 0 0-.53-.52.53.53 0 0 0-.38.16z"/></g></svg>') !important;
}

.codestream .standard-form #controls .styled-select select option {
    background-color: var(--app-background-color-darker) !important;
}
