body {
	--font-family: --cs--font-family--;
	--font-size: --cs--font-size--px;
	--font-weight: normal;

	--text-color: --cs--text-color--;
	--text-color-highlight: --cs--text-color-highlight--;
	--text-color-subtle: --cs--text-color-subtle--;
	--text-color-subtle-extra: --cs--text-color-subtle-extra--;

	--text-color-info: --cs--text-color-info--;
	--text-color-info-muted: --cs--text-color-info-muted--;

	--app-background-color: --cs--app-background-color--;
	--app-background-color-darker: --cs--app-background-color-darker--;
	--app-background-color-hover: --cs--app-background-color-hover--;

	--base-background-color: --cs--base-background-color--;
	--base-border-color: --cs--base-border-color--;

	--panel-tool-background-color: --cs--panel-tool-background-color--;
	--panel-section-foreground-color: --cs--panel-section-foreground-color--;
	--panel-section-header-background-color: --cs--panel-section-header-background-color--;
	--panel-section-header-foreground-color: --cs--panel-section-header-foreground-color--;

	--line-numbers-foreground-color: --cs--line-numbers-foreground-color--;

	--button-background-color: --cs--button-background-color--;
	--button-background-color-hover: --cs--button-background-color-hover--;

	--scrollbar-thumb: --cs--scrollbar-color--;
	--scrollbar-thumb-hover: --cs--scrollbar-color-hover--;
}
