html,
body {
  height: 100%;
  overflow: hidden;
  padding: 0 !important;
}
* {
  box-sizing: border-box;
}
#app {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.vscode-dark #app {
  background-image: url('data:image/svg+xml;utf8,<svg width="50" height="40" xmlns="http://www.w3.org/2000/svg"><path fill="#fff" fill-opacity="0.05" d="M20.4 19.87a4.57 4.57 0 1 0 9.13-.01 4.57 4.57 0 0 0-9.13.01z"/><path fill="#fff" fill-opacity="0.05" d="M26.92 6.35c-.1.1-.17.24-.17.38v5.43a7.9 7.9 0 0 1 0 15.36v5.53a.53.53 0 0 0 .92.36l11.48-12.17c.71-.76.71-1.94 0-2.7L27.67 6.38a.53.53 0 0 0-.75-.02zm-4.64.02L10.8 18.55a1.96 1.96 0 0 0 0 2.69L22.28 33.4a.53.53 0 0 0 .91-.36v-5.53a7.9 7.9 0 0 1 0-15.36V6.73a.53.53 0 0 0-.53-.52.53.53 0 0 0-.38.16z"/></svg>');
}
.vscode-light #app {
  background-image: url('data:image/svg+xml;utf8,<svg width="50" height="40" xmlns="http://www.w3.org/2000/svg"><path fill="#000" fill-opacity="0.05" d="M20.4 19.87a4.57 4.57 0 1 0 9.13-.01 4.57 4.57 0 0 0-9.13.01z"/><path fill="#000" fill-opacity="0.05" d="M26.92 6.35c-.1.1-.17.24-.17.38v5.43a7.9 7.9 0 0 1 0 15.36v5.53a.53.53 0 0 0 .92.36l11.48-12.17c.71-.76.71-1.94 0-2.7L27.67 6.38a.53.53 0 0 0-.75-.02zm-4.64.02L10.8 18.55a1.96 1.96 0 0 0 0 2.69L22.28 33.4a.53.53 0 0 0 .91-.36v-5.53a7.9 7.9 0 0 1 0-15.36V6.73a.53.53 0 0 0-.53-.52.53.53 0 0 0-.38.16z"/></svg>');
}
.codestream [contenteditable="true"]:empty:before {
  content: attr(placeholder);
  opacity: 0.5;
}
.codestream .stream {
  width: 100%;
  height: 100%;
  background: var(--app-background-color);
}
.codestream .stream #close-thread {
  margin: 10px;
  width: calc(100% - 20px);
  cursor: pointer;
  padding: 3px 0;
}
.codestream .stream .new-messages-below {
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  margin: -41px 0 11px 0;
  padding-top: 5px;
  background-color: rgba(127, 127, 127, 0.2);
  border-radius: 8px 8px 0 0;
  text-align: center;
  height: 30px;
  color: #fff;
}
.codestream .stream .new-messages-below:hover {
  background-color: rgba(140, 140, 140, 0.2);
}
.codestream .stream .edit-post .button-group {
  margin-bottom: 5px;
  margin-top: 10px;
}
.codestream .stream .edit-post .button-group button {
  width: calc(50% - 5px);
}
.codestream .stream .edit-post .button-group button.cancel {
  background: #c00 !important;
}
.codestream .stream .edit-post .button-group button:first-child {
  margin-right: 10px;
}
.codestream .stream .edit-post div[contenteditable="true"] {
  margin-top: 5px;
  padding: 10px;
  border-radius: 4px;
  background: var(--base-background-color);
  border: 1px solid rgba(0, 0, 0, 0.3);
  resize: none;
  max-width: 100%;
  overflow: auto;
  cursor: auto !important;
}
.codestream .stream .compose {
  display: block;
  width: 100%;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  background-color: var(--app-background-color);
  position: absolute;
  bottom: 0px;
  padding: 10px;
  box-sizing: border-box;
  z-index: 5;
}
.codestream .stream .compose #input-div {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  background: var(--base-background-color);
  border: 1px solid rgba(0, 0, 0, 0.3);
  resize: none;
  max-height: 300px;
  max-width: 100%;
  overflow: auto;
}
.codestream .stream .compose #input-div:empty {
  white-space: nowrap;
}
.codestream .stream .compose .placeholder {
  position: absolute;
  bottom: 20px;
  left: 20px;
  opacity: 0.5;
}
.codestream .stream .compose .hint {
  margin: 4px -5px 4px 2px;
  font-size: 12px;
  opacity: 0.5;
}
.codestream .stream .compose .hint .icon {
  cursor: pointer;
  float: right;
  transform: scale(0.8);
}
.codestream .stream .compose .hint .icon:hover {
  color: #c00;
}
.codestream .stream .compose .code {
  margin-top: 0;
}
.codestream .stream .at-mention {
  display: inline-block;
  color: var(--link-color);
}
.codestream .stream .at-mention.me {
  color: var(--link-color);
  font-weight: bold;
  padding: 0px 3px 2px 3px;
  margin: 0px 0px -2px 0px;
  border-radius: 12px;
  background-color: rgba(127, 127, 127, 0.2);
}
.codestream .stream .code {
  max-width: 100%;
  max-height: 200px;
  white-space: pre;
  font-family: Menlo, Consolas, "DejaVu Sans Mono", monospace;
  font-size: 11px;
  background: var(--base-background-color);
  border-radius: 4px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: 5px 0 5px 0;
  overflow-x: auto;
  overflow-y: auto;
  line-height: 12px;
  tab-size: 2;
  position: relative;
}
.codestream .stream .mentions-popup {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 50;
  padding: 0 10px 0 10px;
  padding-bottom: inherit;
  user-select: none;
  cursor: pointer;
  border-radius: 5px;
}
.codestream .stream .mentions-popup .body {
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: var(--base-background-color);
}
.codestream .stream .mentions-popup .instructions {
  font-size: 11px;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  opacity: 0.5;
  background: #eee;
  background: var(--base-background-color);
}
.codestream .stream .mentions-popup table {
  display: none;
  font-size: 11px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  opacity: 0.5;
}
.codestream .stream .mentions-popup table td:nth-child(2) {
  text-align: center;
}
.codestream .stream .mentions-popup table td:last-child {
  text-align: right;
}
.codestream .stream .mentions-popup ul {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  background: var(--base-background-color);
  padding: 5px 0;
  border-radius: 0 0 5px 5px;
}
.codestream .stream .mentions-popup li {
  padding: 5px 10px;
}
.codestream .stream .mentions-popup li .headshot {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  margin-right: 6px;
  vertical-align: -4px;
}
.codestream .stream .mentions-popup li .headshot-gravatar {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  z-index: 2;
}
.codestream .stream .mentions-popup li .headshot-initials {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  text-align: center;
  font-size: 11px;
  text-transform: capitalize;
  padding-top: 1px;
  z-index: 1;
  color: var(--app-background-color);
}
.codestream .stream .mentions-popup li.hover {
  color: #fff;
  background: #4979f1;
}
.codestream .stream .mentions-popup .username {
  font-weight: 700;
  padding-right: 5px;
}
.codestream .stream .post .menu-popup {
  right: 20px;
  margin-top: -10px;
}
.codestream .stream .menu-popup {
  position: absolute;
  z-index: 50;
  padding: 0 10px 0 10px;
  user-select: none;
  cursor: pointer;
  border-radius: 5px;
}
.codestream .stream .menu-popup .body {
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #eee;
}
.codestream .stream .menu-popup ul {
  background: #fff;
  padding: 5px 0;
  border-radius: 0 5px 5px 0;
}
.codestream .stream .menu-popup li {
  padding: 5px 10px;
}
.codestream .stream .menu-popup li .headshot-gravatar {
  width: 18px;
  height: 18px;
  border-radius: 3px;
  margin-right: 6px;
}
.codestream .stream .menu-popup li.hover {
  color: #fff;
  background: #4979f1;
}
.codestream .stream .menu-popup .username {
  font-weight: 700;
  padding-right: 5px;
}
.codestream .stream .editing-indicator {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 12;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0;
  transition: top 0.2s;
}
.codestream .stream .editing-indicator div {
  width: calc(100% - 20px);
  margin: 0 10px;
  padding: 8px 15px;
  background-color: #ffaa2c;
  color: white;
  text-align: center;
  width: auto;
  top: 40px;
  border-radius: 0 0 5px 5px;
}
.codestream .stream .editing-indicator.conflict div {
  background-color: #c00;
}
.codestream .stream .editing-indicator.inactive {
  top: -5em;
}
.codestream .stream .postslist {
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  position: relative;
  transition: transform 0.2s, opacity 0.2s;
}
.codestream .stream .postslist.inactive {
  transform: scale(0.9);
  max-height: 100%;
  overflow: hidden;
}
.codestream .stream .postslist.inactive .code {
  overflow-x: hidden;
  overflow-y: hidden;
}
.codestream .stream .threadlist {
  position: absolute;
  top: 0;
  background-color: var(--app-background-color);
  animation: 0.4s slidein;
}
.codestream .stream .threadlist.inactive {
  transform: none;
  left: 100%;
  animation: 0.2s slideout;
}
.codestream .stream .post-details .posted-to {
  height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: 0.5;
}
.codestream .stream .post-details button {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5px 0 5px 0;
  width: 100%;
}
.codestream .stream .post-details .button-group {
  margin-bottom: 5px;
}
.codestream .stream .post-details .button-group button {
  width: calc(50% - 5px);
}
.codestream .stream .post-details .button-group button:first-child {
  margin-right: 10px;
}
.codestream .stream .post {
  padding: 10px;
  cursor: pointer;
  min-height: 56px;
  white-space: pre-wrap;
  word-wrap: break-word;
  position: relative;
  max-width: 100%;
}
.codestream .stream .post .headshot-gravatar {
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  background: none;
  z-index: 2;
}
.codestream .stream .post .headshot-initials {
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  font-size: 18px;
  text-transform: capitalize;
  text-align: center;
  padding-top: 6px;
  border-radius: 4px;
  color: var(--app-background-color);
  z-index: 1;
}
.codestream .stream .post .author {
  font-size: 13px;
  padding: 0px 3px 3px 0;
  margin-left: 46px;
  font-weight: 700;
}
.codestream .stream .post time {
  opacity: 0.4;
  font-size: 11px;
  padding: 3px 3px 3px 5px;
}
.codestream .stream .post .edited {
  opacity: 0.4;
  padding-left: 4px;
}
.codestream .stream .post .retry-spinner {
  display: inline-block;
  float: right;
}
.codestream .stream .post .body {
  padding-left: 46px;
}
.codestream .stream .post .icon-gear {
  color: var(--text-color-subtle);
  opacity: 0.5;
  display: none;
  float: right;
  margin: -3px -10px 0 0;
}
.codestream .stream .post .icon-alert,
.codestream .stream .post .icon-question {
  color: #c00;
  position: relative;
  float: right;
  margin-top: -30px;
  margin-right: 2px;
  bottom: 3px;
  right: 5px;
  z-index: 10;
}
.codestream .stream .post .icon-alert:before,
.codestream .stream .post .icon-question:before {
  font-size: 22px;
}
.codestream .stream .post .replying-to {
  height: 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  color: var(--link-color);
}
.codestream .stream .post .replying-to span {
  opacity: 0.5;
  color: var(--text-color);
}
.codestream .stream .post .replying-to b {
  font-weight: normal;
}
.codestream .stream .post.editing {
  background-color: rgba(255, 255, 255, 0.07) !important;
}
.codestream .stream .post.new-separator {
  border-top: 1px solid var(--link-color);
  position: relative;
}
.codestream .stream .post.new-separator::before {
  content: "new";
  display: block;
  right: 10px;
  top: -13px;
  color: var(--link-color);
  background: var(--app-background-color);
  padding: 2px 5px;
  position: absolute;
  border-radius: 10px;
}
.codestream .stream .date-separator {
  text-align: center;
  margin: 25px 0 8px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.codestream .stream .date-separator span {
  position: relative;
  padding: 0 8px;
  background-color: var(--app-background-color);
  display: inline-block;
  width: auto;
  top: -11px;
  color: var(--text-color-subtle);
}
.codestream .stream .post:hover {
  background: var(--app-background-color-hover);
}
.codestream .stream .post:hover .icon-gear {
  display: block;
}
.codestream .stream .post:hover .icon-gear:hover {
  color: #aaa;
}
.codestream .stream.no-headshots .post {
  min-height: 50px;
}
.codestream .stream.no-headshots .post .headshot {
  display: none;
}
.codestream .stream.no-headshots .post .body {
  padding-left: 10px;
}
.codestream .stream.no-headshots .post .author {
  padding-left: 10px;
  margin-left: 0;
}
.codestream .intro {
  margin: 0 40px;
  min-height: 300px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 25%;
}
.codestream .intro label {
  text-align: center;
  padding-top: 5%;
  color: var(--text-color-subtle);
  font-size: 18px;
  width: 100%;
  word-wrap: break-word;
}
.codestream .intro label ul {
  text-align: left;
  padding: 0;
}
.codestream .intro label ul li {
  margin: 5% 0;
}
.codestream .intro .logo {
  color: var(--text-color-subtle-extra);
  transform: perspective(600px) rotateX(60deg) rotateZ(30deg);
  text-shadow: 5px 10px 30px rgba(127, 127, 127, 0.5);
  text-shadow: 5px 10px 30px rgba(0, 0, 0, 0.2);
  font-size: 135px;
  display: block;
  opacity: 0.75;
}
.codestream .color-1 {
  background-color: #678;
}
.codestream .color-2 {
  background-color: #687;
}
.codestream .color-3 {
  background-color: #768;
}
.codestream .color-4 {
  background-color: #786;
}
.codestream .color-5 {
  background-color: #867;
}
.codestream .color-6 {
  background-color: #876;
}
.codestream .color-7 {
  background-color: #886;
}
.codestream .color-8 {
  background-color: #868;
}
.codestream .color-9 {
  background-color: #688;
}
.codestream .color-0 {
  background-color: #666;
}
.codestream .keystroke {
  color: var(--link-color);
  background-color: white;
  border-radius: 2px;
  padding: 0.1em 0.4em 0.2em 0.4em;
  margin: 0 0.375em;
  line-height: 1em;
  text-align: center;
  box-sizing: border-box;
  vertical-align: 1px;
}
.codestream button {
  font-size: 1.05em;
}
@keyframes slidein {
  from {
    left: 100%;
  }
  50% {
    left: 100%;
  }
  to {
    left: 0;
  }
}
@keyframes slideout {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
body {
  background-color: var(--app-background-color);
  color: var(--text-color);
}
body.preload * {
  animation-duration: 0s !important;
  transition-duration: 0s !important;
}
.codestream a:focus {
  outline: none;
}
.codestream .stream {
  display: flex;
  flex-direction: column;
}
.vscode-dark.codestream .stream .new-messages-below:hover {
  background-color: rgba(140, 140, 140, 0.2);
}
.vscode-light.codestream .stream .new-messages-below:hover {
  background-color: rgba(114, 114, 114, 0.2);
}
.codestream .stream .compose {
  position: unset;
}
.codestream .stream .compose .hint {
  display: flex;
  justify-content: space-between;
}
.codestream .stream .compose .hint .icon {
  transform: none;
  float: none;
}
.codestream .stream .compose .hint .icon:before {
  content: "x";
}
.codestream .stream .compose #input-div:focus {
  outline: none;
}
.vscode-dark.codestream .stream .compose #input-div:focus {
  box-shadow: inset 0 0 0px 1px rgba(255, 255, 255, 0.05);
}
.vscode-light.codestream .stream .compose #input-div:focus {
  box-shadow: inset 0 0 0px 1px rgba(0, 0, 0, 0.05);
}
.codestream .stream .code::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0);
}
.codestream .stream .at-mention.me {
  background-color: var(--text-color-info-muted);
  color: #fff;
  font-weight: 600;
  margin: 1px 0px -1px 0px;
  padding: 0px 7px 2px 4px;
}
.codestream .stream .post {
  min-height: 36px;
}
.vscode-dark.codestream .stream .post.editing {
  background-color: rgba(255, 255, 255, 0.07) !important;
}
.vscode-light.codestream .stream .post.editing {
  background-color: rgba(0, 0, 0, 0.07) !important;
}
.codestream .stream .post .code-reference span {
  height: 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  color: var(--link-color);
  display: block;
}
.codestream .stream .post .code-reference span span {
  opacity: 0.5;
  color: var(--text-color);
}
.codestream .stream .post .code-reference span b {
  font-weight: normal;
}
.codestream .stream .post .code-reference span {
  direction: rtl;
  text-align: center;
  color: var(--text-color-subtle);
  background-color: rgba(0, 0, 0, 0.3);
  background: var(--base-background-color);
  display: block;
  padding: 2px 4px;
  height: auto;
  margin-top: 5px;
  font-size: 10px;
  border-radius: 5px 5px 0 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: none;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
}
.codestream .stream .post .code-reference .code {
  margin-top: 0;
  margin-bottom: 5px;
  border-top: 0;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.codestream .stream .postslist {
  flex: 1 1 auto;
  height: 100%;
}
.codestream .stream .postslist::-webkit-scrollbar-thumb {
  visibility: hidden;
}
.codestream .stream .postslist:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
.codestream a.post--action-link {
  text-decoration: none;
  font-weight: 600;
}
.codestream a.post--action-link:hover {
  text-decoration: underline;
  text-decoration-skip: ink;
}
.btn {
  background-color: #353b45;
  background-image: linear-gradient(#3a3f4b, #353b45);
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  line-height: 2em;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
  z-index: 0;
}
.btn.btn-primary {
  color: white;
  text-shadow: none;
  border: 1px solid #181a1f;
  background-color: #4d78cc;
  background-image: linear-gradient(#557ecf, #4d78cc);
}
.popup-button {
  border-radius: 5px;
  background-color: var(--app-background-color);
  z-index: 100;
  padding: 0.5em 0.75em;
  position: absolute;
  top: 40px;
  left: 15px;
}
.vscode-dark .popup-button {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.vscode-light .popup-button {
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.popup-button:hover {
  background-color: var(--tool-panel-background-color);
}
.popup-button a {
  text-decoration: none;
  color: var(--text-color);
}
