html,
body {
  height: 100%;
  overflow: hidden;
  padding: 0 !important;
}
* {
  box-sizing: border-box;
}
#app {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.vscode-dark #app {
  background-image: url('data:image/svg+xml;utf8,<svg width="50" height="40" xmlns="http://www.w3.org/2000/svg"><path fill="#fff" fill-opacity="0.05" d="M20.4 19.87a4.57 4.57 0 1 0 9.13-.01 4.57 4.57 0 0 0-9.13.01z"/><path fill="#fff" fill-opacity="0.05" d="M26.92 6.35c-.1.1-.17.24-.17.38v5.43a7.9 7.9 0 0 1 0 15.36v5.53a.53.53 0 0 0 .92.36l11.48-12.17c.71-.76.71-1.94 0-2.7L27.67 6.38a.53.53 0 0 0-.75-.02zm-4.64.02L10.8 18.55a1.96 1.96 0 0 0 0 2.69L22.28 33.4a.53.53 0 0 0 .91-.36v-5.53a7.9 7.9 0 0 1 0-15.36V6.73a.53.53 0 0 0-.53-.52.53.53 0 0 0-.38.16z"/></svg>');
}
.vscode-light #app {
  background-image: url('data:image/svg+xml;utf8,<svg width="50" height="40" xmlns="http://www.w3.org/2000/svg"><path fill="#000" fill-opacity="0.05" d="M20.4 19.87a4.57 4.57 0 1 0 9.13-.01 4.57 4.57 0 0 0-9.13.01z"/><path fill="#000" fill-opacity="0.05" d="M26.92 6.35c-.1.1-.17.24-.17.38v5.43a7.9 7.9 0 0 1 0 15.36v5.53a.53.53 0 0 0 .92.36l11.48-12.17c.71-.76.71-1.94 0-2.7L27.67 6.38a.53.53 0 0 0-.75-.02zm-4.64.02L10.8 18.55a1.96 1.96 0 0 0 0 2.69L22.28 33.4a.53.53 0 0 0 .91-.36v-5.53a7.9 7.9 0 0 1 0-15.36V6.73a.53.53 0 0 0-.53-.52.53.53 0 0 0-.38.16z"/></svg>');
}
.preload:before {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 100%;
  opacity: 0.05;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.vscode-dark.preload:before {
  background-image: url('data:image/svg+xml;utf8,<svg width="50" height="40" xmlns="http://www.w3.org/2000/svg"><path fill="#fff" d="M20.4 19.87a4.57 4.57 0 1 0 9.13-.01 4.57 4.57 0 0 0-9.13.01z"/><path fill="#fff" d="M26.92 6.35c-.1.1-.17.24-.17.38v5.43a7.9 7.9 0 0 1 0 15.36v5.53a.53.53 0 0 0 .92.36l11.48-12.17c.71-.76.71-1.94 0-2.7L27.67 6.38a.53.53 0 0 0-.75-.02zm-4.64.02L10.8 18.55a1.96 1.96 0 0 0 0 2.69L22.28 33.4a.53.53 0 0 0 .91-.36v-5.53a7.9 7.9 0 0 1 0-15.36V6.73a.53.53 0 0 0-.53-.52.53.53 0 0 0-.38.16z"/></svg>');
}
.vscode-light.preload:before {
  background-image: url('data:image/svg+xml;utf8,<svg width="50" height="40" xmlns="http://www.w3.org/2000/svg"><path fill="#000" d="M20.4 19.87a4.57 4.57 0 1 0 9.13-.01 4.57 4.57 0 0 0-9.13.01z"/><path fill="#000" d="M26.92 6.35c-.1.1-.17.24-.17.38v5.43a7.9 7.9 0 0 1 0 15.36v5.53a.53.53 0 0 0 .92.36l11.48-12.17c.71-.76.71-1.94 0-2.7L27.67 6.38a.53.53 0 0 0-.75-.02zm-4.64.02L10.8 18.55a1.96 1.96 0 0 0 0 2.69L22.28 33.4a.53.53 0 0 0 .91-.36v-5.53a7.9 7.9 0 0 1 0-15.36V6.73a.53.53 0 0 0-.53-.52.53.53 0 0 0-.38.16z"/></svg>');
}
.loader-ring {
  height: 26vw;
  left: 50%;
  max-height: 31vh;
  max-width: 31vh;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 26vw;
}
.loader-ring__segment {
  animation: loader-ring-spin 1.5s infinite cubic-bezier(0.5, 0, 0.5, 1) !important;
  border: 6px solid #009aef;
  border-color: #009aef transparent transparent transparent;
  border-radius: 50%;
  box-sizing: border-box;
  height: 100%;
  position: absolute;
  width: 100%;
}
.loader-ring__segment:nth-child(1) {
  animation-delay: 0.05s;
}
.loader-ring__segment:nth-child(2) {
  animation-direction: reverse;
}
.loader-ring__segment:nth-child(3) {
  animation-delay: 0.05s;
  animation-direction: reverse;
}
@keyframes loader-ring-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}
.codestream [contenteditable="true"]:empty:before {
  content: attr(placeholder);
  opacity: 0.5;
}
.codestream #modal-root.active,
.codestream #confirm-root.active {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3000;
}
.codestream #confirm-root {
  animation: 0.2s slideout;
}
.codestream #confirm-root.active {
  background: var(--app-background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: 0.2s slidein;
}
.codestream .stream {
  width: 100%;
  height: 100%;
  background: var(--app-background-color);
  overflow-x: hidden;
}
.codestream .stream .panel-header {
  position: relative;
  text-align: center;
  background-color: var(--app-background-color);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  z-index: 30;
  user-select: none;
  height: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  padding: 0 35px 10px 35px;
  font-size: 16px;
  color: var(--text-color-subtle);
}
.codestream .stream .panel-header span {
  font-weight: 600;
  text-overflow: ellipsis;
  text-align: center;
  height: auto;
}
.codestream .stream .panel-header .mentions-badge {
  position: absolute;
  top: 2px;
  left: 10px;
  background-color: rgba(127, 127, 127, 0.2);
  border-radius: 20px;
  color: white;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 11px;
  padding-top: 1px;
}
.codestream .stream .panel-header .icon.align-left {
  position: absolute;
  left: 5px;
  right: auto;
  padding: 0 8px 0 3px;
}
.codestream .stream .panel-header .icon.show-channels-icon.unread {
  background-color: var(--text-color);
  color: var(--base-background-color);
}
.codestream .stream .panel-header .icon.show-channels-icon.mentions {
  background-color: rgba(127, 127, 127, 0.2);
}
.codestream .stream .panel-header .icon.show-channels-icon::before {
  margin-right: 0;
}
.codestream .stream .panel-header .icon {
  top: 2px;
  cursor: pointer;
  padding: 0 0 0 6px;
  text-align: center;
  border-radius: 3px;
}
.codestream .stream .panel-header .icon:hover {
  color: var(--text-color-subtle);
  background-color: var(--base-background-color);
}
.codestream .stream .panel-header .icon.align-right {
  position: absolute;
  right: 5px;
}
.codestream .stream .panel-header .icon-lock::before {
  font-size: 0.8em;
  margin-right: 0;
}
.codestream .stream .unreads {
  animation: 0.4s slidein;
  left: 0;
  color: var(--base-background-color);
  background: var(--text-color);
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 5px 0;
  width: 80%;
  margin: 0 auto;
  z-index: 10;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 30px;
  cursor: pointer !important;
  user-select: none;
  transition: top 0.2s, bottom 0.2s, background-color 0.2s;
  display: none;
}
.codestream .stream .unreads.active {
  display: block;
}
.codestream .stream .unreads {
  background: rgba(127, 127, 127, 0.2);
  border: none;
  color: white;
}
.codestream .stream .unreads[type="above"] {
  top: -1px;
  border-radius: 0 0 5px 5px;
  border-top: none;
}
.codestream .stream .unreads[type="above"].active {
  top: 30px;
}
.codestream .stream .unreads[type="below"] {
  top: auto !important;
  border-radius: 5px 5px 0 0;
  border-bottom: none;
  bottom: 30px !important;
  z-index: 5;
}
.codestream .stream .unreads[type="below"].active {
  bottom: 60px !important;
}
.codestream .stream #close-thread {
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;
}
.codestream .stream #close-thread .keybinding {
  color: var(--text-color-subtle);
  font-weight: normal;
  padding-right: 5px;
}
.codestream .stream #close-thread .show-channels-icon::before {
  margin: 0;
}
.codestream .stream .new-messages-below {
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  margin: -41px 0 11px 0;
  padding-top: 5px;
  background-color: rgba(127, 127, 127, 0.2);
  border-radius: 8px 8px 0 0;
  text-align: center;
  height: 30px;
  color: #fff;
}
.codestream .stream .new-messages-below:hover {
  background-color: rgba(140, 140, 140, 0.2);
}
.codestream .stream #create-channel-form .button-group,
.codestream .stream #create-dm-form .button-group {
  margin-top: 30px;
}
.codestream .stream .standard-form .form-body {
  padding: 20px;
}
.codestream .stream .standard-form .explainer {
  color: var(--text-color-subtle);
}
.codestream .stream .standard-form #controls label {
  font-size: 1.2em;
  margin: 0 0 2px 3px;
}
.codestream .stream .standard-form #controls label .optional {
  opacity: 0.5;
}
.codestream .stream .standard-form #controls .control-group {
  margin: 3% 0;
  position: relative;
}
.codestream .stream .standard-form #controls .control-group:first-child,
.codestream .stream .standard-form #controls .control-group:last-child {
  margin: 0;
}
.codestream .stream .standard-form #controls .control-group .help-link {
  text-align: right;
}
.codestream .stream .standard-form #controls .control-group small {
  display: block;
  margin: 2px 0 0 3px;
  position: absolute;
  top: 3px;
  right: 3px;
}
.codestream .stream .standard-form #controls .radio-group {
  background-color: var(--app-background-color-darker);
  padding: 5px 10px;
  border-radius: 3px;
}
.codestream .stream .standard-form #controls input[type="text"],
.codestream .stream .standard-form #controls input[type="password"],
.codestream .stream .standard-form #controls .radio-group label {
  font-family: Menlo, Consolas, "DejaVu Sans Mono", monospace;
  font-size: 1.15em;
  padding: 4px 8px;
  opacity: 0.6;
}
.codestream .stream .standard-form #controls input[type="text"]:focus,
.codestream .stream .standard-form #controls input[type="password"]:focus {
  opacity: 1;
  color: var(--text-color-subtle);
}
.codestream .stream .standard-form #controls input + .tip {
  display: none;
}
.codestream .stream .standard-form #controls .radio-group label {
  padding: 0 20px 0 5px;
  vertical-align: -2px;
}
.codestream .stream .edit-post .button-group,
.codestream .stream .standard-form .button-group {
  margin-bottom: 5px;
  margin-top: 10px;
}
.codestream .stream .edit-post .button-group button,
.codestream .stream .standard-form .button-group button {
  width: calc(50% - 5px);
}
.codestream .stream .edit-post .button-group button:first-child,
.codestream .stream .standard-form .button-group button:first-child {
  margin-right: 10px;
}
.codestream .stream .edit-post div[contenteditable="true"],
.codestream .stream .standard-form div[contenteditable="true"] {
  margin-top: 5px;
  padding: 10px;
  border-radius: 4px;
  background: var(--base-background-color);
  border: 1px solid rgba(0, 0, 0, 0.3);
  resize: none;
  max-width: 100%;
  overflow: auto;
  cursor: auto !important;
}
.codestream .stream .compose.offscreen,
.codestream .stream .unreads.offscreen {
  pointer-events: none;
  opacity: 0;
  animation: 0.2s slideout;
}
.codestream .stream .compose {
  left: 0;
  animation: 0.4s slidein;
  display: block;
  width: 100%;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  background-color: var(--app-background-color);
  bottom: 0px;
  padding: 10px;
  box-sizing: border-box;
  z-index: 5;
}
.codestream .stream .compose #input-div {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  background: var(--base-background-color);
  border: 1px solid rgba(0, 0, 0, 0.3);
  resize: none;
  max-height: 300px;
  max-width: 100%;
  overflow: auto;
}
.codestream .stream .compose #input-div:empty {
  white-space: nowrap;
}
.codestream .stream .compose .placeholder {
  position: absolute;
  bottom: 20px;
  left: 20px;
  opacity: 0.5;
}
.codestream .stream .compose .hint {
  margin: 4px -5px 4px 2px;
  font-size: 12px;
  opacity: 0.5;
}
.codestream .stream .compose .hint .icon {
  cursor: pointer;
  float: right;
  transform: scale(0.8);
}
.codestream .stream .compose .hint .icon:hover {
  color: #c00;
}
.codestream .stream .compose .code {
  margin-top: 0;
}
.codestream .stream .at-mention {
  display: inline-block;
  color: var(--link-color);
}
.codestream .stream .at-mention.me {
  color: var(--link-color);
  font-weight: bold;
  padding: 0px 3px 2px 3px;
  margin: 0px 0px -2px 0px;
  border-radius: 12px;
  background-color: rgba(127, 127, 127, 0.2);
  color: white;
  font-weight: normal;
}
.codestream .stream .code {
  max-width: 100%;
  max-height: 200px;
  white-space: pre;
  font-family: Menlo, Consolas, "DejaVu Sans Mono", monospace;
  font-size: 11px;
  background: var(--base-background-color);
  border-radius: 0 0 4px 4px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-top: none;
  margin: 0 0 5px 0;
  overflow-x: auto;
  overflow-y: auto;
  line-height: 12px;
  tab-size: 2;
  position: relative;
}
.codestream .stream .mentions-popup {
  width: 100%;
  position: absolute;
  bottom: 50px;
  right: 0px;
  z-index: 50;
  padding: 0 10px 0 10px;
  padding-bottom: inherit;
  user-select: none;
  cursor: pointer;
  border-radius: 5px;
}
.codestream .stream .mentions-popup .body {
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: var(--base-background-color);
}
.codestream .stream .mentions-popup .instructions {
  font-size: 11px;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  opacity: 0.5;
  background: #eee;
  background: var(--base-background-color);
}
.codestream .stream .mentions-popup table {
  display: none;
  font-size: 11px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  opacity: 0.5;
}
.codestream .stream .mentions-popup table td:nth-child(2) {
  text-align: center;
}
.codestream .stream .mentions-popup table td:last-child {
  text-align: right;
}
.codestream .stream .mentions-popup ul {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  background: var(--base-background-color);
  padding: 5px 0;
  border-radius: 0 0 5px 5px;
}
.codestream .stream .mentions-popup li {
  padding: 5px 10px;
}
.codestream .stream .mentions-popup li .headshot {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  margin-right: 6px;
  vertical-align: -4px;
}
.codestream .stream .mentions-popup li .headshot-gravatar {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  z-index: 2;
}
.codestream .stream .mentions-popup li .headshot-initials {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  text-align: center;
  font-size: 11px;
  text-transform: capitalize;
  padding-top: 1px;
  z-index: 1;
  color: var(--app-background-color);
}
.codestream .stream .mentions-popup li.hover {
  color: #fff;
  background: #4979f1;
}
.codestream .stream .mentions-popup .username {
  font-weight: 700;
  padding-right: 5px;
}
.codestream .stream .mentions-popup .help {
  float: right;
}
.codestream .stream .mentions-popup .name {
  opacity: 0.6;
}
.codestream .stream .confirm-popup {
  width: 100%;
  height: 100%;
}
.codestream .stream .confirm-popup .centered {
  text-align: center;
}
.codestream .stream .confirm-popup .confirm-popup-body {
  margin: 20px;
  white-space: pre-wrap;
}
.codestream .stream .confirm-popup .confirm-popup-body .confirm-title {
  font-size: 24px;
  text-align: center;
  padding-bottom: 20px;
}
.codestream .stream .confirm-popup .confirm-popup-body .confirm-message {
  font-size: 16px;
  padding-bottom: 30px;
}
.codestream .stream .confirm-popup .confirm-popup-body .button-group {
  margin-bottom: 5px;
}
.codestream .stream .confirm-popup .confirm-popup-body .button-group button {
  width: calc(50% - 5px);
}
.codestream .stream .confirm-popup .confirm-popup-body .button-group button:first-child {
  margin-right: 10px;
}
.codestream .stream .menu-popup {
  position: fixed;
  z-index: 50;
  padding: 0 10px 0 10px;
  user-select: none;
  cursor: pointer;
  border-radius: 5px;
}
.codestream .stream .menu-popup .menu-popup-body {
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: var(--base-background-color);
}
.codestream .stream .menu-popup hr {
  margin: 5px 0;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.codestream .stream .menu-popup ul {
  padding: 5px 0;
  border-radius: 0 5px 5px 0;
}
.codestream .stream .menu-popup li.menu-item {
  padding: 5px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.codestream .stream .menu-popup li.menu-item .headshot-gravatar {
  width: 18px;
  height: 18px;
  border-radius: 3px;
  margin-right: 6px;
}
.codestream .stream .menu-popup li.menu-item.hover {
  color: white;
  background: rgba(127, 127, 127, 0.2);
}
.codestream .stream .menu-popup li.menu-item.disabled {
  color: var(--text-color-subtle);
}
.codestream .stream .menu-popup li.menu-item.disabled.hover {
  background: var(--base-background-color);
  color: var(--text-color-subtle);
}
.codestream .stream .menu-popup li.menu-item span.disabled {
  font-size: smaller;
  display: block;
  opacity: 0.5;
}
.codestream .stream .menu-popup .username {
  font-weight: 700;
  padding-right: 5px;
}
.codestream .stream .editing-indicator {
  display: none;
  position: absolute;
  top: 30px;
  width: 100%;
  z-index: 12;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0;
  transition: top 0.2s;
}
.codestream .stream .editing-indicator div {
  width: calc(100% - 20px);
  margin: 0 10px;
  padding: 8px 15px;
  background-color: #ffaa2c;
  color: white;
  text-align: center;
  width: auto;
  top: 40px;
  border-radius: 0 0 5px 5px;
}
.codestream .stream .editing-indicator.conflict div {
  background-color: #c00;
}
.codestream .stream .editing-indicator.inactive {
  top: -2em;
}
.codestream .stream .icon {
  position: relative;
  top: 2px;
}
.codestream .stream .channel-list {
  max-height: 100%;
  overflow-y: auto;
  user-select: none;
  box-sizing: border-box;
  padding-bottom: 50px;
}
.codestream .stream .channel-list .no-matches {
  font-style: italic;
  padding: 5px 10px;
}
.codestream .stream .channel-list .section {
  padding: 10px 0;
  font-size: 15px;
}
.codestream .stream .channel-list .section .clickable {
  cursor: pointer;
}
.codestream .stream .channel-list .section .header {
  text-transform: uppercase;
  font-weight: normal;
  padding: 2px 10px;
  color: var(--text-color-subtle);
  position: relative;
}
.codestream .stream .channel-list .section .header span {
  opacity: 0.5;
}
.codestream .stream .channel-list .section .header span.clickable:hover {
  opacity: 1;
}
.codestream .stream .channel-list .section .header.clickable:hover {
  opacity: 1;
  background: var(--app-background-color-hover);
}
.codestream .stream .channel-list .section .latest-post {
  position: absolute;
  right: 9px;
  top: 2px;
  color: var(--text-color-subtle);
}
.codestream .stream .channel-list .section .icon.align-right {
  position: absolute;
  right: 9px;
  top: 2px;
  cursor: pointer;
  z-index: 1;
}
.codestream .stream .channel-list .section .icon.align-right:hover {
  color: var(--text-color-subtle);
}
.codestream .stream .channel-list .section ul {
  margin: 0;
  padding: 0;
}
.codestream .stream .channel-list .section ul li.unread {
  font-weight: 800;
  opacity: 1;
  color: var(--text-color-subtle);
}
.codestream .stream .channel-list .section ul li:hover,
.codestream .stream .channel-list .section ul li.active {
  opacity: 1;
  color: var(--text-color-subtle);
  background: var(--app-background-color-hover);
}
.codestream .stream .channel-list .section ul .invite {
  color: var(--link-color);
}
.codestream .stream .channel-list .section ul .invite .icon::before {
  width: 8px !important;
  padding-left: 1px;
}
.codestream .stream .channel-list .section ul li {
  position: relative;
  font-weight: 100;
  padding: 2px 10px;
  cursor: pointer;
  list-style: none;
  overflow: hidden;
  text-overflow: ellipsis;
}
.codestream .stream .channel-list .section ul li xspan.name {
  padding-left: 5px;
  color: var(--text-color-subtle);
}
.codestream .stream .channel-list .section ul li .icon {
  margin-right: 5px;
}
.codestream .stream .channel-list .section ul li .icon.align-right {
  margin: 0;
  display: none;
  opacity: 0.6;
}
.codestream .stream .channel-list .section ul li .icon.align-right:hover {
  opacity: 1;
}
.codestream .stream .channel-list .section ul li .icon-lock::before,
.codestream .stream .channel-list .section ul li .icon-mute::before {
  font-size: 12px;
  padding-right: 0;
  margin-right: 0;
  width: 10px;
}
.codestream .stream .channel-list .section ul li .presence {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: green;
  margin: 0 5px 1px 0;
}
.codestream .stream .channel-list .section ul li .umi {
  position: absolute;
  text-align: center;
  border-radius: 3px;
  font-size: 12px;
  padding-top: 0;
  top: 3px;
  right: 10px;
  width: 25px;
  height: 18px;
  background: rgba(127, 127, 127, 0.2);
  color: white;
  font-weight: normal;
  z-index: 2;
}
.codestream .stream .channel-list .section ul li time {
  float: right;
  opacity: 0.5;
  color: var(--app-background-color);
}
.codestream .stream .channel-list .section ul li time .details {
  color: var(--text-color);
}
.codestream .stream .channel-list .section ul li:hover .icon.align-right {
  display: block;
}
.codestream .stream .channel-list .section ul li.muted {
  opacity: 0.5;
}
.codestream .stream .standard-form .header {
  padding: 2px 20px !important;
}
.codestream .stream .standard-form li {
  padding: 2px 20px 2px 20px !important;
}
.codestream .stream .standard-form span.latest-post {
  right: 20px !important;
}
.codestream .stream .panel {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: transform 0.2s, opacity 0.2s;
}
.codestream .stream .panel.posts-panel {
  display: flex;
  flex-direction: column;
}
.codestream .stream .postslist {
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  position: relative;
  transition: transform 0.2s, opacity 0.2s;
}
.codestream .stream .postslist.shrink {
  transform: scale(0.9);
  height: 0;
}
.codestream .stream .threadlist {
  display: none;
}
.codestream .stream .threadlist.active {
  display: block;
  animation: 0.4s slidein;
}
.codestream .stream .panel.shrink {
  max-height: 100%;
  overflow: hidden;
}
.codestream .stream .panel.shrink .postslist {
  transform: scale(0.9);
}
.codestream .stream .panel.shrink .code {
  overflow-x: hidden;
  overflow-y: hidden;
}
.codestream .stream .channel-panel .postslist {
  padding-bottom: 50px;
}
.codestream .stream .thread-panel,
.codestream .stream .main-panel,
.codestream .stream .create-channel-panel,
.codestream .stream .create-dm-panel,
.codestream .stream .public-channel-panel {
  animation: 0.4s slidein;
  background-color: var(--app-background-color);
}
.codestream .stream .public-channel-panel .explainer {
  padding: 10px;
}
.codestream .stream .public-channel-panel li .explainer {
  color: var(--text-color-subtle);
  padding: 0 15px 5px 15px;
}
.codestream .stream #create-channel-form,
.codestream .stream #create-dm-form {
  height: 100%;
}
.codestream .stream .panel.off-right {
  transform: none;
  left: 100%;
  animation: 0.2s slideout;
}
.codestream .stream .post-details .posted-to,
.codestream .stream .post-details .no-diffs {
  height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--text-color-subtle);
}
.codestream .stream .post-details .posted-to {
  margin-bottom: 5px;
}
.codestream .stream .post-details button {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5px 0 5px 0;
  width: 100%;
}
.codestream .stream .post-details .button-group {
  margin-bottom: 5px;
}
.codestream .stream .post-details .button-group button {
  width: calc(50% - 5px);
}
.codestream .stream .post-details .button-group button:first-child {
  margin-right: 10px;
}
.codestream .stream .post {
  padding: 10px 9px 10px 55px;
  cursor: pointer;
  min-height: 56px;
  white-space: pre-wrap;
  word-wrap: break-word;
  position: relative;
  max-width: 100%;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
}
.codestream .stream .post .headshot-gravatar,
.codestream .stream .post .headshot-system {
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  background: none;
  z-index: 2;
  left: 10px;
}
.codestream .stream .post .headshot-initials {
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  font-size: 18px;
  text-transform: capitalize;
  text-align: center;
  padding-top: 6px;
  border-radius: 4px;
  color: var(--app-background-color);
  z-index: 1;
  left: 10px;
}
.codestream .stream .post .author {
  font-size: 13px;
  padding: 0px 3px 3px 0;
  font-weight: 700;
}
.codestream .stream .post .author .emote {
  font-weight: normal;
  padding-left: 4px;
}
.codestream .stream .post time {
  opacity: 0.4;
  font-size: 11px;
  padding: 3px 3px 3px 5px;
}
.codestream .stream .post time .details {
  padding-left: 8px;
  opacity: 0;
  transition: opacity 0.4s;
}
.codestream .stream .post .edited {
  opacity: 0.4;
  padding-left: 4px;
}
.codestream .stream .post .retry-spinner {
  display: inline-block;
  float: right;
}
.codestream .stream .post .align-right {
  color: var(--text-color-subtle);
  opacity: 0.5;
  display: none;
  float: right;
}
.codestream .stream .post .icon-alert,
.codestream .stream .post .icon-question {
  color: #c00;
  position: relative;
  float: right;
  margin-top: -30px;
  margin-right: 2px;
  bottom: 3px;
  right: 5px;
  z-index: 10;
}
.codestream .stream .post .icon-alert:before,
.codestream .stream .post .icon-question:before {
  font-size: 22px;
}
.codestream .stream .post .replying-to,
.codestream .stream .post .code-reference span {
  height: 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  color: var(--link-color);
  display: block;
}
.codestream .stream .post .replying-to span,
.codestream .stream .post .code-reference span span {
  opacity: 0.5;
  color: var(--text-color);
}
.codestream .stream .post .replying-to b,
.codestream .stream .post .code-reference span b {
  font-weight: normal;
}
.codestream .stream .post .code-reference span {
  direction: rtl;
  text-align: center;
  color: var(--text-color-subtle);
  background-color: rgba(0, 0, 0, 0.3);
  background: var(--base-background-color);
  display: block;
  padding: 2px 4px;
  height: auto;
  margin-top: 5px;
  font-size: 10px;
  border-radius: 5px 5px 0 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: none;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
}
.codestream .stream .post a {
  text-decoration: none;
  color: var(--link-color);
}
.codestream .stream .post a:hover {
  text-decoration: underline;
}
.codestream .stream .post.editing {
  background-color: rgba(255, 255, 255, 0.07) !important;
}
.codestream .stream .post.new-separator {
  border-top: 1px solid var(--link-color);
  position: relative;
}
.codestream .stream .post.new-separator::before {
  content: "new";
  display: block;
  right: 10px;
  top: -13px;
  color: var(--link-color);
  background: var(--app-background-color);
  padding: 2px 5px;
  position: absolute;
  border-radius: 10px;
}
.codestream .stream .date-separator {
  text-align: center;
  margin: 25px 0 8px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.codestream .stream .date-separator span {
  position: relative;
  padding: 0 8px;
  background-color: var(--app-background-color);
  display: inline-block;
  width: auto;
  top: -11px;
  color: var(--text-color-subtle);
}
.codestream .stream .post:hover {
  background: var(--app-background-color-hover);
}
.codestream .stream .post:hover .gear {
  display: block;
}
.codestream .stream .post:hover .gear:hover {
  color: #aaa;
}
.codestream .stream .post:hover time .details {
  opacity: 1;
}
.codestream .stream.no-headshots .post {
  min-height: 40px;
  padding-left: 10px;
}
.codestream .stream.no-headshots .post .headshot {
  display: none;
}
.codestream .stream.reduced-motion .off-right {
  z-index: -1 !important;
  opacity: 0;
  animation: none;
  transition: opacity 0.25s;
}
.codestream .stream.reduced-motion .off-right .panel-header {
  z-index: -1 !important;
}
.codestream .stream.reduced-motion .panel {
  left: 0 !important;
  animation: none;
  z-index: 2;
  transition: opacity 0.25s;
}
.codestream .stream.reduced-motion .compose.offscreen,
.codestream .stream.reduced-motion .unreads.offscreen {
  opacity: 0;
  transition: opacity 0.25s;
  animation: none !important;
}
.codestream .stream.reduced-motion .postslist {
  transform: none;
}
.codestream .stream.reduced-motion .threadlist.active {
  animation: none;
}
.codestream .stream.reduced-motion .compose {
  animation: none !important;
}
.codestream .intro {
  margin: 0 40px;
  height: 90%;
  min-height: 300px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 25%;
}
.codestream .intro label {
  text-align: center;
  padding-top: 5%;
  color: var(--text-color-subtle);
  font-size: 18px;
  width: 100%;
  word-wrap: break-word;
}
.codestream .intro label ul {
  text-align: left;
  padding: 0;
}
.codestream .intro label ul li {
  margin: 5% 0;
}
.codestream .intro .logo {
  color: var(--text-color-subtle-extra);
  transform: perspective(600px) rotateX(60deg) rotateZ(30deg);
  text-shadow: 5px 10px 30px rgba(127, 127, 127, 0.5);
  text-shadow: 5px 10px 30px rgba(0, 0, 0, 0.2);
  font-size: 135px;
  display: block;
  opacity: 0.75;
}
.codestream .color-1 {
  background-color: #678;
}
.codestream .color-2 {
  background-color: #687;
}
.codestream .color-3 {
  background-color: #768;
}
.codestream .color-4 {
  background-color: #786;
}
.codestream .color-5 {
  background-color: #867;
}
.codestream .color-6 {
  background-color: #876;
}
.codestream .color-7 {
  background-color: #886;
}
.codestream .color-8 {
  background-color: #868;
}
.codestream .color-9 {
  background-color: #688;
}
.codestream .color-0 {
  background-color: #666;
}
.codestream .keystroke {
  color: var(--link-color);
  background-color: white;
  border-radius: 2px;
  padding: 0.1em 0.4em 0.2em 0.4em;
  margin: 0 0.375em;
  line-height: 1em;
  text-align: center;
  box-sizing: border-box;
  vertical-align: 1px;
}
.codestream button {
  font-size: 1.15em;
}
.codestream button.cancel {
  color: var(--text-color);
  background: rgba(255, 255, 255, 0.07) !important;
}
.codestream .react-select__control {
  border-color: rgba(0, 0, 0, 0.3);
  border: none;
  border: 2px solid transparent;
  background-color: rgba(5, 5, 5, 0.3);
  margin: 0;
  font-family: Menlo, Consolas, "DejaVu Sans Mono", monospace;
  font-size: 1.15em;
  color: var(--text-color);
  min-height: 20px;
}
.codestream .react-select__control-is-focused {
  box-shadow: none;
  border: 2px solid rgba(127, 127, 127, 0.2);
}
.codestream .react-select__control-is-focused .react-select__multi-value__label {
  opacity: 1;
  color: var(--text-color-subtle);
}
.codestream .react-select__input {
  font-family: Menlo, Consolas, "DejaVu Sans Mono", monospace;
  font-size: 1.15em;
  font-size: 0.9em;
  color: var(--text-color);
  opacity: 0.6;
}
.codestream .react-select__input:focus {
  opacity: 1;
  color: var(--text-color-subtle);
}
.codestream .react-select__multi-value {
  font-size: 0.9em;
  background: rgba(255, 255, 255, 0.07);
}
.codestream .react-select__value-container {
  padding: 0 5px;
}
.codestream .react-select__multi-value__label {
  color: var(--text-color);
}
.codestream .react-select__multi-value__remove:hover {
  background: #c00;
  color: white;
}
.codestream .react-select__menu-list {
  background: var(--base-background-color);
  border-radius: 3px;
}
.codestream .react-select__option {
  padding: 5px 10px;
  cursor: pointer;
}
.codestream .react-select__option:hover {
  background: rgba(127, 127, 127, 0.2);
  color: white;
}
.codestream .react-select__option--is-focused {
  background: inherit;
  color: inherit;
}
.codestream .react-select.input-text {
  padding: 0;
}
.codestream .react-select__dropdown-indicator {
  opacity: 0.6;
  padding: 6px;
}
.codestream .react-select__indicator-separator {
  opacity: 0.5;
  margin: 8px 0;
}
@keyframes slidein {
  from {
    left: 100%;
  }
  50% {
    left: 100%;
  }
  to {
    left: 0;
  }
}
@keyframes slideout {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
body {
  background-color: var(--app-background-color);
  color: var(--text-color);
}
body.preload * {
  animation-duration: 0s !important;
  transition-duration: 0s !important;
}
.codestream a:focus {
  outline: none;
}
.vscode-dark.codestream .stream .new-messages-below:hover {
  background-color: rgba(140, 140, 140, 0.2);
}
.vscode-light.codestream .stream .new-messages-below:hover {
  background-color: rgba(114, 114, 114, 0.2);
}
.codestream .stream .compose .hint {
  display: flex;
  justify-content: space-between;
}
.codestream .stream .compose .hint .icon {
  float: none;
}
.codestream .stream .compose #input-div:focus {
  outline: none;
}
.vscode-dark.codestream .stream .compose #input-div:focus {
  box-shadow: inset 0 0 0px 1px rgba(255, 255, 255, 0.05);
}
.vscode-light.codestream .stream .compose #input-div:focus {
  box-shadow: inset 0 0 0px 1px rgba(0, 0, 0, 0.05);
}
.codestream .stream .code::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0);
}
.codestream .stream .at-mention.me {
  background-color: var(--text-color-info-muted);
  color: #fff;
  font-weight: 600;
  margin: 1px 0px -1px 0px;
  padding: 0px 7px 2px 4px;
}
.codestream .stream .post {
  min-height: 36px;
}
.vscode-dark.codestream .stream .post.editing {
  background-color: rgba(255, 255, 255, 0.07) !important;
}
.vscode-light.codestream .stream .post.editing {
  background-color: rgba(0, 0, 0, 0.07) !important;
}
.codestream .stream .post .code-reference span {
  height: 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  color: var(--link-color);
  display: block;
}
.codestream .stream .post .code-reference span span {
  opacity: 0.5;
  color: var(--text-color);
}
.codestream .stream .post .code-reference span b {
  font-weight: normal;
}
.codestream .stream .post .code-reference span {
  direction: rtl;
  text-align: center;
  color: var(--text-color-subtle);
  background-color: rgba(0, 0, 0, 0.3);
  background: var(--base-background-color);
  display: block;
  padding: 2px 4px;
  height: auto;
  margin-top: 5px;
  font-size: 10px;
  border-radius: 5px 5px 0 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: none;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
}
.codestream .stream .post .code-reference .code {
  margin-top: 0;
  margin-bottom: 5px;
  border-top: 0;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.codestream .stream .postslist {
  flex: 1 1 auto;
  height: 100%;
}
.codestream .stream .postslist::-webkit-scrollbar-thumb {
  visibility: hidden;
}
.codestream .stream .postslist:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
.codestream a.post--action-link {
  text-decoration: none;
  font-weight: 600;
}
.codestream a.post--action-link:hover {
  text-decoration: underline;
  text-decoration-skip: ink;
}
.btn {
  background-color: #353b45;
  background-image: linear-gradient(#3a3f4b, #353b45);
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  line-height: 2em;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
  z-index: 0;
}
.btn.btn-primary {
  color: white;
  text-shadow: none;
  border: 1px solid #181a1f;
  background-color: #4d78cc;
  background-image: linear-gradient(#557ecf, #4d78cc);
}
.popup-button {
  border-radius: 5px;
  background-color: var(--app-background-color);
  z-index: 100;
  padding: 0.5em 0.75em;
  position: absolute;
  top: 40px;
  left: 15px;
}
.vscode-dark .popup-button {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.vscode-light .popup-button {
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.popup-button:hover {
  background-color: var(--tool-panel-background-color);
}
.popup-button a {
  text-decoration: none;
  color: var(--text-color);
}
