{
	"folders": [
		{
			"path": "{{ATOM_TOP}}"
		},
		{
			"path": "{{ATOM_SANDBOX}}/codestream-lsp-agent"
		},
		{
			"path": "{{ATOM_SANDBOX}}/codestream-components"
		},
		{
			"path": "{{ATOM_SANDBOX}}/atom-client"
		}
	],
	"settings": {
	}
}
