html,
body {
    height: 100%;
    overflow: hidden;
    padding: 0 !important;
}

#app {
    height: inherit;
    width: inherit;
}

@import "vscode-ui-variables";
@import "stream";

body {
    background-color: var(--app-background-color);
    color: var(--text-color);
}

.codestream {
    .stream {
        display: flex;
        flex-direction: column;

        .compose {
            position: unset;
        }

        .at-mention.me {
            padding: 0px 6px 1px 4px;
            margin: 1px 0px -1px 0px;
            border-radius: 6px;
            background-color: rgba(127, 127, 127, 0.15);
        }

        .post {
            .headshot-gravatar {
                padding-top: 3px;
            }
        }

        .postslist {
            flex: 1 1 auto;
            min-height: 0px;
        }
    }
}
